header[b-5sz8acy9y1] {
    display: flex;
    gap: 2em;
}

    header[b-5sz8acy9y1]  a {
        font-size: 1.5em;
    }

.contact[b-5sz8acy9y1] {
    display: flex;
    border-bottom: 1px dashed black;
    padding: 0.5em 0;
}

.contact-left[b-5sz8acy9y1] {
    width: 100%;
}

.contact-bottom[b-5sz8acy9y1] {
    display: flex;
    gap: 1em;
    width: 100%;
}

.contact-platform[b-5sz8acy9y1] {
    display: flex;
    gap: 1em;
    width: 33%
}

    .contact-platform p[b-5sz8acy9y1] {
        margin-right: .2em;
    }

    svg[b-5sz8acy9y1] {
        font-size: 24px;
    }

    .contact-right[b-5sz8acy9y1] {
        margin-left: auto;
        margin-right: 2em;
        display: flex;
        align-items: center;
        gap: 1em;
    }